// ==========================================================================
// BASE SCSS
// v1.0
// ==========================================================================
// Body Fixed
// ==========================================================================
body {
    color: $text-color;
}
// Controll
// ==========================================================================
.text-center {
    text-align: center;
}

h1, .h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.6;
    margin: 0;
}

h2, .h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: .6;
}

.mt {
    &-5 {
       margin-top: 5rem;
    }
}
